* {
    margin: 0;
    padding: 0;
}
a {
    color: #c2575b;
    text-decoration: none;
    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}
a:hover {
    color: #f76f76;
} 
h3 {
    font-size: 14px;
}
h2 {
    font-size: 17px;
    color: red;
    text-decoration: none;
}
.meny {
    padding-right:10px;
    display: none;
    overflow:auto;
    color: #eee;
    top:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.meny-arrow {
    position: absolute;
    z-index: 10;

    border: 10px solid transparent;

    -webkit-transition: opacity 0.4s ease 0.4s; 
    -moz-transition: opacity 0.4s ease 0.4s; 
    -ms-transition: opacity 0.4s ease 0.4s; 
    -o-transition: opacity 0.4s ease 0.4s; 
    transition: opacity 0.4s ease 0.4s;
}
.meny-left .meny-arrow {
    left: 14px;
    top: 50%;
    margin-top: -16px;
    border-left: 16px solid #333;
}
.meny-active .meny-arrow {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease; 
    -moz-transition: opacity 0.2s ease; 
    -ms-transition: opacity 0.2s ease; 
    -o-transition: opacity 0.2s ease; 
    transition: opacity 0.2s ease;
}
.meny_subgroup{
    margin-bottom:0px;
}
.file-upload{
    position: relative;
    overflow: hidden;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-upload{
    float:left;
    margin-left:0px;
    padding-top: .4em;
    padding-bottom: .4em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../../../Cascade_RNAseq_viewer-master/css/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    color:#555;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    width:150px;
    text-align: center;
}